#signup-form {
  display: grid;
  grid-template-columns: 1fr;
  /* height: 650px; */
  width: 500px;
  padding: 0 2.3rem;
}

#signup-header {
  text-align: center;
}

.signup-credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.signup-inputs {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 100%;
  padding: 0.625rem;
}

#signup-button {
  margin-top: 7px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 0px;
  align-items: center;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.5rem 0;
}

#signup-button:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}
